extends templates/layout

block head_specific
  title Index page
  meta(name="description", content="This is the description of the index page")
  link(rel="canonical" href="index.html")

block main
  main
    This is the index page

    a(href="about.html") About page

    amp-img(
      alt="alt text"  
      width="500"
      height="500"
      layout="fixed"
      src="https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      )
      amp-img(
      fallback
      alt="alt text"  
      width="500"
      height="500"
      layout="fixed"
      src="https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      )

